.aboutPage{
    height: auto;
    padding: 6rem 0.5rem;
}

.about_section_text_items{
    display: grid;
    grid-template-columns: 1fr 1fr ; 
    grid-template-rows: auto; 
}

.about_page_left_item_title{
    font-weight: 500;
    font-size: 2.5rem;
    line-height: 70px;
    display: inline;
}

.about_page_parapraph{
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 28.9px;
    width: 100%;
    margin-top: 1rem;
}
.aboutPage_items {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.deluxe_text{
    color:#E1AF93;
}
.tabs_link{
    font-size: 1.2rem;
}
.stepper_links_href{
    border-bottom: 1px solid transparent;
}


@media(max-width:1024px){
    .about_section_text_items{
        display: grid;
        grid-template-columns: 1fr 1fr ; 
        grid-template-rows: auto; 
    }
}

@media(max-width:855px){
    .about_section_text_items{
        display: grid;
        grid-template-columns: 1fr; 
        grid-template-rows: auto; 
    }
    
    .about_page_left_item_title{
        font-weight: 500;
        font-size: 2.5rem;
        line-height: 70px;
        display: inline;
    }
    
    .about_page_parapraph{
        font-weight: 400;
        font-size: 1.25rem;
        line-height: 28.9px;
        width: 100%;
        margin-top: 1rem;
    }
    .aboutPage_items {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}

@media(max-width:450px){
    
    .about_page_left_item_title{
        font-size: 2.1rem;
        line-height: 50px;
    }
    
    .about_page_parapraph{
        font-size: 1rem;
        line-height: 28.9px;
        width: 100%;
        margin-top: 1rem;
    }

    .tabs_link{
        font-size: 1.05rem;
    }
}

@media(max-width:379px){
    
    .about_page_left_item_title{
        font-size: 2rem;
        line-height: 50px;
    }
    
    .about_page_parapraph{
        font-size: 1rem;
    }

    .tabs_link{
        font-size: 1rem;
    }
}